.vscode
.deployments/
.github/
.env.example
.env
.env.develpment
.env.production
.gitignore
.build
.prettierrc.json
.eslintrc.cjs
tsconfig*
vite.config.ts
tailwind.config.js
postcss.config.js
README.md

node_modules/
dev-dist/
