@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', 'Open Sans', sans-serif;
    }
}

main {
    height: calc(100vh - 8rem);
}

form:invalid input:required {
    @apply w-full border-red-500 rounded shadow-sm focus:border-red-500 focus:ring-0;
}

form:invalid select:required {
    @apply w-full border-red-500 rounded shadow-sm focus:border-red-500 focus:ring-0;
}

select {
    @apply text-gray-500;
}

input[type='checkbox'] {
    @apply form-checkbox rounded text-blue-600 bg-gray-100 border-gray-300 focus:ring-0;
}

.main-content {
    @apply overflow-y-auto px-4 md:px-12;
}

.container {
    @apply px-4 py-6 border shadow space-y-3 bg-white sm:px-8 lg:max-w-3xl lg:mx-auto;
}

.form-control {
    @apply w-full p-2.5 block  border border-gray-300 rounded shadow-sm focus:border-gray-300 focus:ring-0;
}

.btn {
    @apply px-4 py-2 sm:px-6;
}

.btn-success {
    @apply text-white rounded bg-green-600 hover:bg-green-800;
}

.btn-secondary {
    @apply bg-gray-600 text-white hover:bg-gray-800;
}

.btn-light {
    @apply bg-gray-200 text-white;
}

.btn-alert {
    @apply w-full rounded text-white bg-gray-600 hover:bg-gray-800 p-3;
}

.disabled {
    @apply bg-gray-100 text-gray-500 cursor-not-allowed;
}

/* Alerts */
.alert {
    @apply flex items-center p-4 mb-4;
}

.alert-success {
    @apply text-green-800 border-t-4 border-green-300 bg-green-50;
}

.alert-warning {
    @apply text-red-800 border-t-4 border-red-300 bg-red-50;
}

.alert-btn-dismiss {
    @apply ml-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 inline-flex items-center justify-center h-8 w-8;
}

.alert-btn-dismiss-success {
    @apply bg-green-50 text-green-500 focus:ring-green-400 p-1.5 hover:bg-green-200;
}

.alert-btn-dismiss-warning {
    @apply bg-red-50 text-red-500 focus:ring-red-400 p-1.5 hover:bg-red-200;
}

.form-invalid {
    @apply border-red-500 !important;
}

/* Menu */

.menu-item {
    @apply flex gap-3 items-center bg-white p-2.5 justify-start rounded border shadow;
}

.icon {
    @apply text-yellow-500;
}

/* Patient Info */

.patient-info {
    @apply flex-1  text-gray-500 space-y-2;
}

.patient-info-item {
    @apply flex justify-between w-full p-2.5 border rounded bg-gray-50;
}

.patient-info-text {
    @apply font-normal text-gray-700;
}

/* Badge */

.badge {
    @apply inline-flex items-center px-2 py-1 font-medium rounded;
}

.badge-dark {
    @apply text-gray-800 bg-gray-100;
}

.badge-success {
    @apply text-white bg-green-600;
}

.badge-warning {
    @apply text-white bg-yellow-600;
}

.badge-danger {
    @apply text-white bg-red-600;
}

.dropdown {
    @apply w-full border rounded shadow-sm absolute mt-2 p-2.5 border-gray-300 bg-white overflow-y-auto z-50 text-gray-500;
}

.container-patients {
    @apply my-8 grid grid-cols-1 md:grid-cols-2 gap-4 xl:grid-cols-3 mx-auto xl:max-w-7xl;
}

.group-parameter {
    @apply flex items-center gap-3;
}
